/bzImage-qemux86.bin
/config-3.19.2-yocto-standard
/core-image-lsb-sdk-qemux86.ext4
/environment-setup-i586-poky-linux
/environment-setup-i586-poky-linux.csh
__.tex
*.dvi
*.log
*.ps
*.aux
/linux-yocto-3.19/
!/linux-yocto-3.19/block/clook-iosched.c
!/linux-yocto-3.19/block/Makefile
!/linux-yocto-3.19/block/Kconfig.iosched
/Writeup2/big_file
/Writeup2/strace_results
/linux
!/linux/drivers/leds/trigger/Kconfig
!/linux/drivers/leds/trigger/Makefile
!/linux/drivers/leds/trigger/ledtrig-morse.c
